footer {

	.grid
	{

	padding-top:0px ;
	}

	.select-icon-inner {
		left: 5px !important;
		top: 50% !important;
		margin-top: -5px !important;

	}

	.select-text
	{

	min-width: 100% !important;
	}

	ion-select
	{
	max-width:100% !important;
	color: #fff !important;
		padding: 27px 0px 0px 0px !important;
		font-size: 12px !important;
	}

	.select .select-icon .select-icon-inner {
		color: #fff !important;
		left: -10px !important;
	}

	.label {
	margin: 21px -4px 0px 0 !important;
	
	}

	.footer_new .hamburger {
		padding: 0 5px;
	}

	.hamburger .item

	{
	background:none !important
	}

	.hamburger button

	{
	background:none !important
	}

	.hamburger .icon

	{
		color:#FEC70B;
		font-size: 24px;
		margin-top: 7px;
	}

	.list {
		width: 100% !important;
	}

	.bar-footer img
	{
		margin-top: 7px;
	}
			
	.padd-top
	{
		padding-top:0px;
	}

	.menu_div {
		padding-left: 0 !important;
	}

	.menu_button {
		margin: 0 auto;
    	display: table;
	}

	// .footer_new {
	// 	left: auto !important;
	// 	bottom: auto !important;
	// 	position: relative !important;
	// 	display: block !important;
	// }
	
}

// .alert-message {
// 	padding-top: 0px !important;
// }